.center {
    display: flex;
    justify-content: center;
    align-items: center;
}

.links {
    text-align: center;
}

.links a {
    text-decoration: none;
    text-transform: uppercase;
}

.links ul{
    list-style-type: none;
}

.todo-list {
    list-style-type: none;
    padding-left: 0px;
}

.todo-list li textarea {
    height: 100px;
    width: 200px;
}

.todo-list li {
    display: flex;
    padding: 5px;
}

.todo-list li button {
    margin: 5px;
    align-self: center;
}

.display-text-button {
    margin-right: 195px;
}

.data {
    height: 100px;
    width: 200px;
    border: 1px solid black;
    margin: 5px;
    overflow: auto;
}

.fixedBtn {
    text-align: right;
}

