.center {
    display: flex;
    justify-content: center;
    align-items: center;
}

.links {
    text-align: center;
}

.links a {
    text-decoration: none;
    text-transform: uppercase;
}

.links ul{
    list-style-type: none;
}